@using ByteartRetail.Web;

@{
    ViewBag.Title = "站点管理";
}

<hgroup class="title">
    <h1>@Html.Image("Admin_32.png")&nbsp;@ViewBag.Title</h1>
    <h4>欢迎使用管理系统。请使用菜单栏目选择管理任务，对系统进行管理和设置。</h4>
</hgroup>

