@{
    ViewBag.Title = "关于Byteart Retail项目";
}
<h3>Byteart Retail 项目简介</h3>
<p>
    Byteart Retail是一个基于.NET开发的企业级应用程序，目的在于演示领域驱动设计在.NET开发中的应用。
    Byteart Retail以在线零售为业务背景，从各个技术层面展示了.NET企业级应用程序的架构设计，希望它能够
    给社区朋友带来一定的帮助。
</p>
<h3>当前版本号</h3>
<p>
    V3
</p>
<h3>版本更新历史</h3>
<ul>
    <li>2012年06月20日：V2版，更新详情：《<a href="http://www.cnblogs.com/daxnet/archive/2012/06/20/2555938.html" target="_blank">Byteart Retail V2 - 基于Entity Framework Code First的领域驱动设计实践案例</a>》</li>
    <li>2012年04月16日：V1版，详细信息：《<a href="http://www.cnblogs.com/daxnet/archive/2012/04/16/2452660.html" target="_blank">EntityFramework之领域驱动设计实践【后续篇】：基于EF 4.3.1 Code First的领域驱动设计实践案例</a>》</li>
</ul>
<p>
    
</p>
