@{
    ViewBag.Title = "Contact";
}

<h1>联系方式</h1>
<p>您可以通过以下方式联系Byteart Retail示例项目的作者。</p>
<div>电子邮件：<a href="mailto:daxnet@outlook.com">daxnet@outlook.com</a></div>
<div>博客主页：<a href="http://daxnet.cnblogs.com" target="_blank">http://daxnet.cnblogs.com</a></div>
<div>新浪微博：@@daxnet</div>

