@using ByteartRetail.DataObjects;
@using ByteartRetail.Web;
@model ByteartRetail.DataObjects.ProductDataObjectList

<table width="774" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td height="40" class="popular">
            <img src="/images/spacer.gif" alt="" width="27" height="19"><span class="popular_text">特色商品推荐</span></td>
    </tr>
    <tr>
        <td height="138" valign="top" class="popular_center">
            <table width="774" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="15">&nbsp;</td>
                    <td width="743">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    var model = Model[i];
                                    <td width="21%" height="148" align="center">
                                        <a href="@Url.Action("Product", "Home", new { id = model.ID})">
                                            <img src="@string.Format(Url.Content("~/Images/Products/{0}"), model.ImageUrl)" alt="" width="140" height="117" border="0">
                                        </a>
                                        <br>
                                        <span class="style7"><a href="@Url.Action("Product", "Home", new { id = model.ID})">@Html.Encode(model.Name)</a></span></td>
                                    if (i != Model.Count - 1)
                                    {
                                    <td width="2%" align="center">
                                        <img src="/images/op.jpg" width="14" height="117">
                                    </td>
                                    }
                                }
                            </tr>
                        </table>
                    </td>
                    <td width="16">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <img src="/images/close.gif" alt="" width="774" height="9"></td>
    </tr>
</table>
